<h1>Hello World from index!</h1>
<br/><br/>
<a href="/demo/hello">Hello page 1</a>

<br/><br/>
<%= link_to('Hello Page 2',{:controller => 'demo',:action => 'hello'}) %>

<br/><br/>
<%= link_to('Hello with parameters',{:controller => 'demo',:action => 'hello', :page => 5, :id => 20 }) %>
